.allFac{
    width: 100%;
    /* margin: 20px; */
    color: white;
    display: flex;
    flex-direction: column;
}
.facultiesitem{
    display: flex;
    background-color: rgba(0, 0, 28, 0.87);
    margin: 20px;
    padding: 30px;
}
.jobdesc{
    display: flex;
    flex-direction: column;
    width:80%;
    justify-content: center;
    /* align-items: center; */
    text-align: left;
}
.j1{
    padding: 5px 20px;
    text-align: left;
    color: white;
    font-size: 20px;
}
.companeyname{
    font-size: 30px;
    padding: 10px;
}
.postDate{
    font-size: 14px;
    margin-left: 10px;
    padding-bottom: 10px;
    text-decoration:underline;
    color: rgba(255, 255, 255, 0.56);
}
.companeylocation{
    /* border-top: 1px dotted orangered; */
}
.skillsRequire{
    color: rgba(5, 243, 243, 0.481);
    font-weight: 800;
}
.ourteacherhead{
    font-size: 40px;
    color: white;
    font-weight: 1000;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: blue;
    padding: 10px;
    margin: 30px;
}
.jobApply{
    display: flex;
    justify-content: center;
    align-items: center;
}
.applyforJob{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 4px;
}
.jobacccepted{
    background-color: transparent;
    font-size: 20px;
    color: blue;
}
.pricecolor{
    color: red;
    font-size: 30px;
}
.jobsp{
    background-color: red;
    border: 1px solid red;
    color: white;
}
.jobsA{
    background-color: blue;
    border: 1px solid blue;
    color: white;
}
.notifications{
    position: fixed;
    top: 0;
    left: 0;
}